<div class="hero">
<br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Create a World of Abundance through Learning</h1>
    <br />
    <h2>Empower You to Thrive and reach Your Highest Potential</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success'%>
    <br /><br />
  </div>
</div>
<hr/>
<section>
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Amazing Courses</h3>
      <br />
      <br />
      <p>Jumpstart your new career and Join Generation Digital.</p>
      <br />
      <br />
    </div>

    <div class="col-12 col-sm">
      <h3>Learn at your own Pace</h3>
      <br />
      <br />
      <p>Enroll and access courses from IoT, AI and Blockchain</p>
      <br />
      <br />
    </div>

    <div class="col-12 col-sm">
      <h3>Join our Community</h3>
      <br />
      <br />
      <p>Learn with a community of a like-minded individuals</p>
      <br />
      <br />
    </div>
  </div>
</section>
