<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Our Team</h1>
  <div class="row">
    <div class="col-5">
      <a class="twitter-timeline" data-height="550" data-link-color="#2B7BB9" href="https://twitter.com/firehoseproject?ref_src=twsrc%5Etfw">Tweets by firehoseproject</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="row col-4">
      <%= image_tag 'zaki.png', class: 'img-fluid' %>
    </div>

    <div class="row col-2">
      <br />
      <br />
      <h2 class="text-center">Zaki Mohammad</h2>
      <br />
      <p>
        Zaki Mohammad brings a wealth of experience and acumen from his previous roles as an entrepreneur, executive, accountant, consultant, IoT solution architect, data scientist and AI practitioner, across multiple industry verticals and settings. He is at Firehose Project looking to augment his skills as a full-stack developer. 
      </p>
    </div>
  </div>

</div>